// header

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo-container {
    margin: 5px 15px;
}

.header-text {
    padding: 90px 0;
}

.button-container {
    padding-top: 40px;
    text-align: center;
}

// features

.features-list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 0;
    li.feature-item {
        max-width: 300px;
        margin: 10px;
        list-style-type: none;
        padding: 0;
    }
}