// home page team

.member-title {
    h4 {
        color: $main_color;
        font-family: $secondary_font;
        font-size: 22px;
        @media (min-width: $xs) {
            text-align: center;
        }
        @media (min-width: $sm) {
            text-align: left;
        }
    }
    .member-position {
        color: $hover_color;
        font-family: $secondary_font;
        font-size: 13px;
        text-transform: uppercase;
        @media (min-width: $xs) {
            text-align: center;
        }
        @media (min-width: $sm) {
            text-align: left;
        }
    }
}

.member-entry-content span {
    color: $secondary_color;
    font-family: $secondary_font;
    font-size: 14px;
    @media (min-width: $xs) {
        text-align: center;
    }
    @media (min-width: $sm) {
        text-align: left;
    }
}