// home works

.absolute-text {
    .work-head {
        color: $additional_color;
        font-family: $secondary_font;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    .work-subtext {
        color: $additional_color;
        font-family: $secondary_font;
        font-size: 14px;
        text-align: center;
    }
}