$main_font: 'Montserrat', sans-serif;
$secondary_font: 'Kaushan Script', cursive;
$additional_font: Roboto, sans-serif;
$additional_color: #ffffff;
$hover_color: #fce38a;
$main_color: #333333;
$secondary_color: #999999;