$hover_color: #e84545;
$main_color: #2d3033;
$secondary_color: #6c7279;
$additional_color: #ffffff;
$main_font: "Open Sans", sans-serif;
$secondary_font: Raleway, sans-serif;
$additional_font: Carbo, sans-serif;

$xs: 320px;
$sm: 767px;
$md: 991px;
$lg: 1119px;